html, body {
  margin: 0;
  height: 100vh;
}

.ItemListContainer {
  width: 30%;
  height: 100%;
  position: absolute;
  overflow-y: scroll
} /* https://stackoverflow.com/a/25154977 */

.GraphContainer {
  margin-left: 30%;
  width: 70%;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  display:flex;
}

.GraphInner{
  align-self: center;
  margin: 0 auto;
} /* https://blog.logrocket.com/13-ways-vertically-center-html-elements-css/ */